<div class="container ng-cloak" ng-if="presentation !== null && presentation !== undefined">
    <div class="bs-component">
        <div class="jumbotron">
            <h1>{{feedback}}</h1>
            <h1>{{presentation.title}}</h1>
            <p>Описание: {{presentation.description}}</p>
            <p>Дата: {{presentation.ondate}}</p>
            <p>Час: {{presentation.fromtime | number: 2}}  - {{presentation.totime | number:2}}</p>
            <p>Потребител: {{presentation.username}}</p>
            <p><a class="btn btn-primary btn-lg">Свали</a></p>
            <p><label for="presentationFeedback" class="col-lg-2 control-label">Остави коментар</label></p>
            <div clas="row">
                <div class="col-lg-6">
                    <textarea class="form-control" name="presentationFeedback" rows="4" id="presentationFeedback" ng-model="feedback" enter-key feedback = "feedback" callback="submitFeedback()" ng-maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>