<div class="container ng-cloak" ng-if="presentation !== null && presentation !== undefined">
    <div class="bs-component">
        <div class="jumbotron">
            <h1>{{presentation.title}}</h1>
            <p>Описание: {{presentation.description}}</p>
            <p>Дата: {{presentation.ondate}}</p>
            <p>Час: {{presentation.fromtime | number: 2}}  - {{presentation.totime | number:2}}</p>
            <p>Изготвил: {{presentation.username}}</p>
            <p><a class="btn btn-primary btn-lg" ng-click="downloadPresentation(presentationId)">Свали</a></p>
            <div class="panel panel-default" ng-repeat="feedback in presentation.feedbacks"  id="fb-container">
                <div class="panel-body">
                    <p>{{feedback.content}}</p>
                    <span>от <em>{{feedback.username}}</em></span>
                </div>
            </div>
            <p><label for="presentationFeedbackTB" class="col-lg-2 control-label">Остави коментар</label></p>
            <div clas="row">
                <div class="col-lg-6">
                    <textarea class="form-control" name="presentationFeedback" rows="4" id="presentationFeedbackTB" ng-model="feedback" enter-key callback="submitFeedback(feedback, presentationId)" ng-maxlength="200"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>