<h1>Presentations</h1>

<ul style="list-style-type:none">
    <li ng-repeat="presentation in presentations">
        <div class="row">
            <div class="col-md-6">
                <div class="bs-component">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{presentation}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>